@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --midnight-violet: #002642;
  --frosted-mint: #e5dada;
  --clay-soil: #840032;
  --faded-copper: #e59500;
  --shadow-grey: #02040f;
  --gold: #e59500;
}

html, body, #root { height: 100%; }
